* {
  margin: 0px;
  padding: 0px;
  font-family: 'Nanum Gothic', sans-serif;
}

.lists {
  padding-left: 1em;
}

p {
  margin-right: 10px;
}


nav {
  z-index: 1;
  top: 0;
  left: 0;
  text-align: center;
  background-color: white;
  overflow-x: visible;
  position: fixed;
  width: 250px;
  min-width: 250px;
  height: 100vh;
  padding: 15px;
  color: white;
}

#navheader {
  font-size: 30px;
  text-shadow: 1px 1px 5px rgb(216, 13, 13);
  color: #093781;
  font-family: 'Lobster', cursive;
}

#container {
  background-color: white;
  color: black;
  overflow-x: hidden;
}

.nav-link {
  display: block;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #070606;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
}

main {
  margin-left: 285px;
  padding-left: 15px;
  padding-bottom: 30px;
  width: 75vw;
  overflow-x: visible;
}

section {
  width: 60vw;
  overflow-x: visible;
}

code {
  display: block;
  width: 30vw;
  min-width: 250px;
  max-width: 500px;
  padding: 10px;
  margin-bottom: 1em;
  padding-left: 20px;
  background-color: #0d0e0f;
  color: white;
  border-radius: 10px;
  overflow: auto;
}

.docheader {
  font-size: 2em;
  padding-bottom: 20px;
  padding-top: 20px;
}

@media only screen and (max-width: 790px) {
  nav {
    position: relative;
    width: 100%;
    height: auto;
    padding-right: 0;
    padding-left: 0;
  }

  main {
    margin-left: 15px;
    width: 100vw;
  }

  section {
    width: 85vw;
  }

  .nav-link {
    width: 80vw;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 20px;
  }

  footer {
    width: 80%;
    margin: 30px auto;
    padding: 10px;
    text-align: center;
    color: grey;

  }
}